{% extends "en/master.html.twig" %}

{% block title %}About us
{% endblock %}

{% block content %}

	<div class="col">
    
		<div class="card">
			<div class="card-header">
				{{ v.about }}
			</div>
			<div class="card-body">
				<h4 class="card-title">{{ v.story }}</h4>
				<h6 class="card-title">{{ v.business }}</h6>
				<img class="img-fluid" align="left" src="/images/selective-focus-photography-of-pink-and-red-flowers-931166.jpg" alt="About us"/>
				<p class="card-text">{{ v.stemsFlower }}</p>
				<p class="card-text">{{ v.ourPassion }}</p>
			</div>
		</div>

	</div>

{% endblock %}
