{% for p in productsList %}
	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100 zoom">
			<img class="card-img-top " src="{{p.imageFilePath}}" alt="Flowers Photo">
			<div class="card-body">
				<h4 class="card-title ">{{p.productName}}</a>
			</h4>
			<h5 class="unitPrice">${{p.unitPrice}}</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
			<!--form method="post" id="myform"-->
			<div class="row">
				<input type="hidden" class="invisible" name="productId" value="{{ p.productId }}">
				<div class="col-4">
					<input type="number" name="quantity{{ p.productId }}" min="1" max="50" value="1"/>
				</div>
				<div class="col-8">
					<button id="btAddToCart" class="btn btn-danger btn-sm rounded-pill" onclick="addToCart({{ p.productId }},this);">Add To Cart</button>
				</div>
			</div>
			<!--/form-->
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalAddCart{{ p.productId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Item added to the cart</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<img class="card-img-top" id="modalImageFilePath" src="{{p.imageFilePath}}" alt="Flowers Photo">
					<h4 id="modalProductName">{{p.productName}}</h4>
					<h5 id="modalUnitPrice">${{p.unitPrice}}</h5>
					<h6 class="modalQuantity"></h6>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">CONTINUE SHOPPING</button>
					<button type="button" class="btn btn-primary" onclick="window.location.href='/cart'">CHECKOUT</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}