{% extends "en/master.html.twig" %}

{% block head %}
	{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  #}
	<script>
		function update(cartItemId) {
var quantity = $("input[name=quantity" + cartItemId + "]").val();
console.log("cartItemId=" + cartItemId);
console.log("quantity=" + quantity);
if (quantity < 1) {
return;
} else {
document.location.href = '/cart/update?cartItemId=' + cartItemId + '&quantity=' + quantity;
}
}
$(document).ready(function () { // Trigger html input validation without form tag
$('input').on('keyup keypress blur change', function (event) {
event.target.checkValidity();
}).bind('invalid', function (event) {
setTimeout(function () {
$(event.target).focus();
}, 50);
});
});

$(document).ajaxError(function (event, jqxhr, settings, thrownError) {
console.log("Ajax error occured on " + settings.url);
alert("Ajax error occured");
});
	</script>
{% endblock %}

{% block title %}Cart
{% endblock %}

{% block content %}

	<div class="col">

		<div class="card ">
			<div class="card-header">
				Cart Items
			</div>
			{% if totalItems > 0 %}
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th scope="col" style="width: 25%"></th>
							<th scope="col" style="width: 25%">Product</th>
							<th scope="col" class="text-center" style="width: 15%">Quantity</th>
							<th scope="col" class="text-right" style="width: 25%">Price</th>
							<th style="width: 15%"></th>
							<th style="width: 15%"></th>
						</tr>
					</thead>
					<tbody>
						{% for ci in cartitemList %}
							<tr>

								<td><img class="img-fluid" style="max-width: 70%; height: auto;" src="{{ci.imageFilePath}}"/></td>
								<td>{{ci.productName}}</td>
								<td><input class="form-control" type="number" min="1" max="50" name="quantity{{ci.id}}" value="{{ci.quantity}}"/></td>
								<td class="text-right">{{ci.unitPrice}}</td>
								<td class="text-right">
									<a class="btn btn-sm btn-danger" href="/cart/delete/{{ci.id}}">
										<i class="fa fa-trash"></i>
									</a>
								</td>
								<td class="text-right">
									<button class="btn btn-sm btn-info" value="{{ci.id}}" id="btUpdate{{ci.id}}" onclick="update({{ci.id}})">
										<i class="fa fa-wrench"></i>
									</button>
								</td>

							</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td colspan="2" class="text-right">Sub-Total before tax:</td>
							<td class="text-right">{{subTotal}}$</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Shipping</td>
							<td class="text-right">{{shipping}}$</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
								<strong>Total</strong>
							</td>
							<td class="text-right">
								<strong>{{total}}$</strong>
							</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<div class="col mb-2">

					<div class=" text-right">
						<a class="btn btn-lg btn-block btn-success text-uppercase" href="/order">Checkout</a>
					</div>
				</div>
			{% else %}

				<p>There are no items in the cart!</p>

			{% endif %}
		</div>
	</div>
{% endblock %}
