{% extends "en/master.html.twig" %}

{% block title %}Categories
{% endblock %}

{% block leftSiteContent %}
	<h3 class="my-4">Price Filter</h3>
	<div class="card">
		<article class="card-group-item">
			<header class="card-header">
				<h6 class="title">Range input
				</h6>
			</header>
			<div class="filter-content">
				<div class="card-body">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Min</label>
							<input type="number" class="form-control" min="0" max="1000" name="minPrice" placeholder="$0">
						</div>
						<div class="form-group col-md-6 text-right">
							<label>Max</label>
							<input type="number" class="form-control" min="0" max="1000" name="maxPrice" placeholder="$1,000">
						</div>
						<div class="col-12">
							<button id="btFilter" class="btn btn-success btn-sm rounded-pill btn-block" onclick="priceFilter();">Apply</button>
						</div>
					</div>
				</div>
				<!-- card-body.// -->
			</div>
		</article>
		<!-- card-group-item.// -->

	</div>
	<!-- card.// -->

{% endblock %}

{% block content %}

	<div id="productsListHolder" class="row"></div>

	<div class="col-12 d-flex justify-content-center">
		<div class="pageDiv">			
			<span class="pageLink" id="previousPage" onclick="loadProductPage(currentPage-1);">Previous</span>

			{% for page in 1 .. totalPages %}
				<span id="pageLink{{page}}" class="pageLink" onclick="loadProductPage({{page}});">{{page}}</span>
			{% endfor %}

			<span class="pageLink" id="nextPage" onclick="loadProductPage(currentPage+1);">Next</span>

		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		// pagination AJAX
var currentPage = 1;
var minPriceVal = 0;
var maxPriceVal = 1000;
function loadProductPage(page) {
	page = page < 1 ? 1 : page; // min is 1
	page = page > {{ totalPages }} ? {{ totalPages }} : page;
	// max is {{ totalPages }}
	// remove style pageLinkCurrent on currentPage
	$("#pageLink" + currentPage).removeClass("pageLinkCurrent");
	currentPage = page;
	if (currentPage == 1){
		$("#previousPage").hide();
	} else $("#previousPage").show();
	if (currentPage == {{ totalPages }}){
		$("#nextPage").hide();
	} else $("#nextPage").show();
	$("#pageLink" + currentPage).addClass("pageLinkCurrent");
	var currURLStr = window.location.href;
	//var categoryId = currURLStr.charAt(currURLStr.search("category") + 9); // fix me
	var categoryId = currURLStr[currURLStr.length - 1];
	var n = currURLStr.search("productpage");
	console.log("The URL of this page is: " + window.location.href);
	console.log("n=" + n);
	console.log("categoryId-" + categoryId);
$("#productsListHolder").load("/ajax/productpage/" + categoryId + "/" + page + "/" + minPriceVal + "/" + maxPriceVal);
}

$(document).ready(function () {
loadProductPage(currentPage);
});

$(document).ajaxError(function (event, jqxhr, settings, thrownError) {
console.log("Ajax error occured on " + settings.url);
alert("Ajax error occured");
});
// end Pagination Ajax
// filter AJAX
function priceFilter() {
var currURLStr = window.location.href;
minPriceVal = $("input[name=minPrice]").val();
maxPriceVal = $("input[name=maxPrice]").val();
//min and max value varification -TODO better varification
if (minPriceVal> maxPriceVal){
	//- TODO show mesage
	return;
}
var categoryId = currURLStr[currURLStr.length - 1];
console.log("minPrice=" + minPriceVal);
console.log("maxPrice=" + maxPriceVal);
console.log("categoryId=" + categoryId);
$("#productsListHolder").load("/ajax/productpage/" + categoryId + "/" + 1 + "/" + minPriceVal + "/" + maxPriceVal);
}


function addToCart(productIdVal, elementButton) {
console.log("productIdVal=" + productIdVal);
$('input[name=quantity]').val('1');
var quantity = $('input[name=quantity' + productIdVal + ']').val();
var productId = productIdVal;
if (quantity == "" || quantity < 1) {
return;
}
console.log("productId=" + productId);
console.log("quantity=" + quantity);

var newCartItem = {
productId: productId,
quantity: quantity
};
var dataString = JSON.stringify(newCartItem);

$.ajax({
url: "/addcartitem",
type: "POST",
dataType: "json",
data: dataString,
error: function (jqxhr, status, errorThrown) {
alert("AJAX error: " + jqxhr.responseText);
}
}).done(function (data) {
$("#totalItems").html(data + " items");
$(".modalQuantity").text("Quantity: " + quantity);
}).always(function () {
$('#modalAddCart' + productId).modal('show');
});
}
	</script>
{% endblock %}
