{% extends "en/master.html.twig" %}

{% block title %}Home{% endblock %}

{% block contentUpper %}
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <img class="d-block img-fluid" src="/images/assorted-color-petaled-flowers-950251.jpg" width="900" height="350" alt="First slide"/>
                    </div>
                    <div class="carousel-item">
                    <img class="d-block img-fluid" src="/images/beautiful-bloom-blooming-blossom-383556.jpg" width="900" height="350" alt="Second slide"/>
                    </div>
                    <div class="carousel-item">
                    <img class="d-block img-fluid" src="/images/close-up-photo-of-pink-flowers-3874082.jpg" width="900" height="350" alt="Third slide"/>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
{% endblock %}

{% block content %}
  
    {% for c in categoriesList %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 zoom">
            <a href="/category/{{c.categoryId}}"><img class="card-img-top" src="{{c.categoryImagePath}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="/category/{{c.categoryId}}">{{c.categoryName}}</a></h4>                
            </div>            
            </div>
        </div>
    {% endfor %}

{% endblock %}
