{% extends "en/master.html.twig" %}

{% block title %}Success
{% endblock %}

{% block content %}
	
	<div class="col">
    
		<div class="card">
			
			<div class="card-body">
				<h4 class="card-title">Congratulations, {{ v.firstName }} ! You have logged in successfully!</h4>								
				<img class="img-fluid" align="left" src="/images/salut6.jpg"/>						
			</div>
		</div>

	</div>				

{% endblock %}
