{% extends "en/master.html.twig" %}

{% block title %}Login
{% endblock %}


{% block content %}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=242716796998222&autoLogAppEvents=1"></script>
    

    {% if error %}
		<p class="errorMessage">{{ error }}</p>
	{% endif %}

    
	<div class="col">
    
        <div class="card">
            
            
		
            <div id="logreg-forms">
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
                        Sign in</h1>
                                  
                    
                    <!--
                    <div id="status">
                    </div>
                    -->
                    <div class="social-login">
                    
                        <div  class="btn fb-login-button btn-block" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" data-width="">
                        </div>
                
                    
                    
                        <!--
                        <button class="btn google-btn social-btn btn-danger btn-block" type="button">
                            <span>
                                <i class="fab fa-google-plus-g"></i>
                                Sign in with Google+</span>
                        </button>
                        -->
				    </div>



                    <p style="text-align:center">
                        OR
                    </p>

                    {% if errorsArray %}
                        <ul class="errorMessage">
                            {% for error in errorsArray %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <input type="email" name="email" value="{{ v.email }}" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

                    <button class="btn btn-success btn-block" type="submit">
                        <i class="fas fa-sign-in-alt"></i>
                        Sign in</button>

                    <hr>
                    <!-- <p>Don't have an account!</p>  -->
                    <p style="text-align:center">
                        Don't have an account?
                    </p>
                    <button class="btn btn-primary btn-block" type="button" id="btn-signup" onclick="window.location.href='/register'">
                        <i class="fas fa-user-plus"></i>
                        Sign up New Account</button>
                </form>
                <p style="text-align:center">
                    Forgot password?
                </p>
                <form action="#" class="form-reset">
                    <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                </form>

                <br>

            </div>
        
		</div>

	</div>



{% endblock %}
