<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
			| Flower Shop</title>

		<!--Add favicon to the page-->
		<link
		rel="shortcut icon" href="/images/favicon-flower.png"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">       
		<!-- For social media icons (footer) -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css">
		<!-- Ajax -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<link rel="stylesheet" href="/styles.css"/>
		{% block head %}{% endblock %}

		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '242716796998222',
					xfbml            : true,
					status: true, // check login status
					cookie: true, // enable cookies to allow the server to access the session
					version          : 'v7.0'
					
				});
				FB.AppEvents.logPageView();
				console.log("bbbbbbbbbbbbbbbbbbbbbb");
				
				FB.Event.subscribe('auth.login', function(response) {
					if (response.status === 'connected') {
						console.log("***********************");
						console.log(response);
						
						$.ajax({
							type: 'post',
							url: '/do/reg/fb',
							//data: response,
							dataType:'json',
							data:"param=" + JSON.stringify(response),
							success: function(msg) {
								
								console.log("S u c c e s s ");
								console.log(msg);
								
								window.location.reload();
								
								window.location.href = "/";
							},
							error: function(){}
						})
						
					}
				});
								
			};
			
			(function(d, s, id){
				
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
				
				console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");
				
			}(document, 'script', 'facebook-jssdk'));
		</script>

		</head>
		<body>


			<!-- 1. Top nav -->
            <nav class="navbar navbar-expand-lg  navbar-dark bg-light">                
                <div class="container">

                <!--Change the language from here-->
                <div class="col col-2 col-lg-8">
					<a href="?lang=fr">
						<img src="/images/fr2.png" id="Francais" style="margin-right :15px " alt="Francais" title="Francais" width="35" height="25"/>
					</a>

					<a href="?lang=en">
						<img src="/images/en2.png" id="En" style="margin-right :25px " alt="English" title="English" width="35" height="25"/>
					</a>		

                </div>

					<!--Account drop down menu-->

                <div class="col col-lg-2">    
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ v.account }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--a class="dropdown-item" href="#">Action</a-->

                        <div>
                            {% if userSession %}
                                <span class="dropdown-item">Hello 
                                    <b>{{ userSession.firstName }}</b>
                                </span>
                                
                                
                                <span class="dropdown-item" onclick="logout()">Logout</span> 
                                
                                <script>
                                    function logout(){
                                        console.log("this is logiut!!! ");
                                        FB.getLoginStatus(loginStatus => {
                                            if (loginStatus.status === "connected") {
                                                FB.logout(() => {
                                                  window.location.href = "/logout";
                                                })
                                            } else {
                                                window.location.href = "/logout";
                                            }
                                        });

                                    }
                                </script>
                                   
                                <!--
                                <a class="dropdown-item" href="/logout">Logout</a>
                                -->
                                
                            {% else %}
                                <span class="dropdown-item" ><a href="/login">Login</a> or 
                                <a href="/register">Register</a></span>
                            {% endif %}

                        </div>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cart">Carts</a>
                        <a class="dropdown-item" href="/myorders">My orders</a>
                    </div>
                </div>
                </div> 

                    <!--Cart block-->
					<a href="/cart" >
						<img src="/images/cart.png" id="cart" alt="Cart" title="Cart" width="70" height="70"/>
					</a>

                    <div class = "col">
                        <div class = "row">{{v.shoppingCart}}</div>
                        <div class = "row" id="totalItems">
                            {% if totalItems == false %} 0 {% else %} {{totalItems}} {% endif %}  {{v.articles}}</div>
                    </div>
				</div>

			</nav>


			<!--Main Navigation -->
			<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"-->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id ="mainnav">
				<div class="container">
					<a class="navbar-brand" href="/">
						<h2>
							<span><img src="/images/logo-flower.png" alt="logo" height="60" width="60"/></span>Stems Florist</h2>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">{{v.home}}
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">{{v.aboutnav}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/services">{{v.services}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/contact">{{v.contact}}</a>
							</li>
						</ul>
					</div>
					
				</div>
			</nav>
			<!-- Page Content -->
			<div class="container">

				<div class="row">

					<div class="col-lg-3">
						<h3 class="my-4">Categories</h3>
						<div class="list-group">
							{% for c in categoriesList %}														
							<a href="/category/{{c.categoryId}}" class="list-group-item">{{c.categoryName}}</a>							
							{% endfor %}
						</div>						
						{% block leftSiteContent %}{% endblock %}

					</div>
					<!-- /.col-lg-3 -->
					

					<div class="col-lg-9"> {% block contentUpper %}{% endblock %}

					<div class="row"> {% block content %}{% endblock %}

						</div>
						<!-- /.row -->

					</div>
					<!-- /.col-lg-9 -->

				</div>
				<!-- /.row -->
			</body>
		</html>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">

		<div class="container">
			<div class="row white-font-large text-center text-white">
				<div class="col-6">
					<p>Follow us on social media</p>
				</div>
				<div class="col-6 text-white">
					<p>Contact us</p>
				</div>
			</div>
			<div class="row">
				<div class="col-6 text-center text-white">
					<i class="fab fa-facebook-square fa-3x"></i>
					<i class="far fa-envelope fa-3x"></i>
					<i class="fab fa-twitter-square fa-3x"></i>
				</div>
				<div class="col-6 text-center text-white">
					<p class="white-font-large">Phone: (514)-123-1234</p>
				</div>
				<div class="container">
					<p class="m-0 text-center text-white">Copyright &copy; Stems Florist 2020</p>
				</div>
				<!-- /.container -->
			</div>
		</div>
	</footer>

	<!-- Bootstrap JavaScript -->
	<!--script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script-->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body></html>
