{% extends "en/master.html.twig" %}

{% block head %}	
	<script>
		
	</script>
{% endblock %}

{% block title %}Cart
{% endblock %}

{% block content %}

	<div class="col">

		<div class="card ">
			<div class="card-header">
				My orders
			</div>
			{% if myoredrList != false %}
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th scope="col" style="width: 25%"></th>
							<th scope="col" >Product</th>
							<th scope="col" >Quantity</th>
							<th scope="col" >Price</th>
							<th scope="col">Status</th>
							<th scope="col">Date</th>
						</tr>
					</thead>
					<tbody>
						{% for mol in myoredrList %}
							<tr>
								<td><img class="img-fluid" style="max-width: 70%; height: auto;" src="{{mol.imageFilePath}}"/></td>
								<td>{{mol.productName}}</td>
								<td>{{mol.quantity}}</td>
                                <td>{{mol.unitPrice}}</td>
								<td>{{mol.status}}</td>
								<td>{{mol.orderDate}}</td>
							</tr>
						{% endfor %}						
					</tbody>
				</table>
			{% else %}
				<p>There are no items to show!</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
