{% extends "en/master.html.twig" %}

{% block title %}Order
{% endblock %}

{% block content %}

	<div class="col">

		<div class="card">
			<div class="card-header">
				Order Header
			</div>
			{% if totalItems > 0 %}
				<div
					class="card-body">

					<!--Grid row-->
					<div
						class="row">

						<!--Grid column-->
						<div
							class="col-md-8 mb-4">
							<!--Card-->
							<div
								class="card">
								<!--Card content-->
								<form class="card-body" method="post" enctype="multipart/form-data" id="payment-form">
								<p>Shipment address</p>
									{% if userSession %}
										<input type="text" name="customerName" value="{{ userSession.firstName }} {{ userSession.lastName }}" class="form-control" placeholder="First name" required="" autofocus="">
										<input type="email" name="shipEmail" value="{{ userSession.email }}" class="form-control" placeholder="Email address" required="">
										<input type="text" name="shipPhoneNo" value="{{ userSession.phoneNo }}" class="form-control" placeholder="Phone number" type="text" required="">
										<input type="text" name="shipTo" value="{{ userSession.street }}" class="form-control" placeholder="Street" required="">
										<input type="text" name="shipCity" value="{{ userSession.city }}" class="form-control" placeholder="City" required="">
										<input type="text" name="shipProvince" value="{{ userSession.province }}" class="form-control" placeholder="Province" required="">
										<input type="text" name="shipCountry" value="{{ userSession.country }}" class="form-control" placeholder="Country" required="">
										<input type="text" name="shipPostalCode" value="{{ userSession.postalCode }}" class="form-control" placeholder="Postal Code" required="">
										<hr>
										{% else %}
										<input type="text" name="customerName" value="" class="form-control" placeholder="First name" required="" autofocus="">
										<input type="email" name="shipEmail" value="" class="form-control" placeholder="Email address" required="">
										<input type="text" name="shipPhoneNo" value="" class="form-control" placeholder="Phone number" type="text" required="">
										<input type="text" name="shipTo" value="" class="form-control" placeholder="Street" required="">
										<input type="text" name="shipCity" value="" class="form-control" placeholder="City" required="">
										<input type="text" name="shipProvince" value="" class="form-control" placeholder="Province" required="">
										<input type="text" name="shipCountry" value="" class="form-control" placeholder="Country" required="">
										<input type="text" name="shipPostalCode" value="" class="form-control" placeholder="Postal Code" required="">
										<hr>
									{% endif %}
									
									<div id="card-element" class="form-control"><!--Form control is to show the form in bootstrap // In this case, if not it could disappear-->
										<!-- a Stripe Element will be inserted here. -->
									</div>
									<!-- Used to display form errors -->
									<div id="card-errors" role="alert"></div>
									<button class="btn btn-primary btn-lg btn-block">Submit Payment</button>

								</form>
							</div>
							<!--/.Card-->
						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div
							class="col-md-4 mb-4">

							<!-- Heading -->
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-muted">Your invoice</span>
							</h4>

							<!-- Cart -->
							<ul class="list-group mb-3 z-depth-1">
								<li class="list-group-item d-flex justify-content-between">
									<span>Sub-Total before tax:</span>
									<span>{{subTotal}}$</span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span>Shipping before tax</span>
									<span>{{shipping}}$</span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span>Taxes</span>
									<span>{{taxes}}%</span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span>Total (USD)</span>
									<strong>{{total}}$</strong>
								</li>
							</ul>
							<!-- Cart -->

						</div>
						<!--Grid column-->

					</div>
					<!--Grid row-->
				</div>

				<!--Paypal block-->


			{% else %}

				<p>There are no items in the order!</p>

			{% endif %}
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<!--Stripe: -->
	<script src="https://js.stripe.com/v3/"></script>
	<!--External JS Files: -->
	<script src="./js/charge.js"></script>
{% endblock %}
