{% extends "en/master.html.twig" %}

{% block title %}Success
{% endblock %}

{% block content %}
	
	<div class="col">
    
		<div class="card">
		<div class="card-header">
				<h4><strong>Thank you for purchase!</strong></h4>
			</div>

			<div class="card-body">				
				<h5 >Your payment is submitted</h5>	
				<p>Payment transaction ID: {{ tid }}</p>
				<p><strong>Amount paid</strong>: ${{ amount }}</p>
            	<p>Please, check your email for more info.</p>            										
			</div>
		</div>

	</div>				

{% endblock %}