{% extends "en/master.html.twig" %}

{% block title %}Error
{% endblock %}

{% block content %}
	
	<div class="col">
    
		<div class="card">
			
			<div class="card-body">
				<h4 class="card-title">Oops! Requested data not found !!!</h4>				
				<img class="img-fluid" align="left" src="/images/error_404.jpg"/>						
			</div>
		</div>

	</div>				

{% endblock %}
