{% extends "en/master.html.twig" %}

{% block title %}Login
{% endblock %}

{% block content %}

	{% if error %}
		<p class="errorMessage">{{ error }}</p>
	{% endif %}

	<div
		class="col">

		<div class="card">
					<div class="card-header">
						Registration card
					</div>

		<div id="logreg-forms">
			<form class="form-signin" method="post">
				<h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
					Register</h1>
				<div class="social-login">
					<button class="btn facebook-btn social-btn btn-primary btn-block" type="button">
						<span>
							<i class="fab fa-facebook-f"></i>
							Sign up with Facebook</span>
					</button>
					<button class="btn google-btn social-btn btn-danger btn-block" type="button">
						<span>
							<i class="fab fa-google-plus-g"></i>
							Sign up with Google+</span>
					</button>
				</div>
				<p style="text-align:center">
					OR
				</p>

				{% if errorsArray %}
                    <ul class="errorMessage">
                        {% for error in errorsArray %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="text" name="firstName" value="{{ v.firstName }}" class="form-control" placeholder="First name" required="">
                <input type="text" name="lastName" value="{{ v.lastName }}" class="form-control" placeholder="Last name" required="">
				<input type="email" name="email" value="{{ v.email }}" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
				<input name="phoneNumber" value="{{ v.phoneNumber }}" id="inputPhone" class="form-control" placeholder="Phone number" type="text">
				<input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="Password" required="">
                <input type="password" name="pass2" id="inputPassword" class="form-control" placeholder="Repeat Password" required="">
                <input type="text" name="street" value="{{ v.street }}" class="form-control" placeholder="Street">
                <input type="text" name="city" value="{{ v.city }}" class="form-control" placeholder="City">
                <input type="text" name="province" value="{{ v.province }}" class="form-control" placeholder="Province">
                <input type="text" name="country" value="{{ v.country }}" class="form-control" placeholder="Country">
                <input type="text" name="postalCode" value="{{ v.postalCode }}" class="form-control" placeholder="Postal Code">
				<button class="btn btn-success btn-block" type="submit">
					<i class="fas fa-sign-in-alt"></i>
					Sign up</button>

			</form>

			<br>

		</div>

		</div>

	</div>
</div>{% endblock %}
