{% extends "en/master.html.twig" %}

{% block title %}Services{% endblock %}

{% block contentUpper %}
    
    <div class="col">
              
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Our services</h4>				
                <p>
                    <span><strong>For all needs</strong></span><br/>
                    <br />
                    &bull;&nbsp;&nbsp; &nbsp;Our wide range of bouquets and flowers.<br />
                    &bull;&nbsp;&nbsp; &nbsp;Bouquets for personal celebrations.<br />
                    &bull;&nbsp;&nbsp; &nbsp;Important dates (wedding, birth, funeral).<br />
                    &bull;&nbsp;&nbsp; &nbsp;Gift certificates.<br />
                    <br />
                    <span><strong>Decoration</strong></span><br />
                    <br />
                    &bull;&nbsp;&nbsp; &nbsp;business style.<br />
                    &bull;&nbsp;&nbsp; &nbsp;private style.<br />
                </p>

                <p>
                    <span><strong>Delivery</strong></span>              
                </p>

                
                <h2 class="card-title">Besides</h2>	

                <p>               
                    <span><strong>Account</strong></span>
                    <br/>
                    &bull;&nbsp;&nbsp; &nbsp;Like to create a new account with us? <a href="/register"  rel="nofollow">Please sign UP here</a><br/>
                    &bull;&nbsp;&nbsp; &nbsp;If you already have an account  <a href="/login"  rel="nofollow">Please sign IN here</a><br />                 
                
                    <span><strong>Reminder Service</strong></span>
                    <br/>
                    &bull;&nbsp;&nbsp; &nbsp;We'll always be there to remind you with our free reminder service. Create your own remind messages &amp; reminder dates, and keep track of it all with a personal monthly calendar.<br/>
                           
                    <span><strong>Promotion Notifications</strong></span>
                    <br/>
                    &bull;&nbsp;&nbsp; &nbsp;Add your name and e-mail address to our promotions list and we'll notify you of our newest products and promotions.<br/>
                    <h4>Email:</h4>
                    {% if errorsArray %}
                        <ul class="errorMessage">
                            {% for error in errorsArray %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                    <form class="innerSiteFeaturesOption" method="post">
                        
                        <input name="email"  size="24" value="{{v.email}}" type="text" >
                        <input name="submit" value="Subscribe" type="submit" >
                    </form>
                    <h4>Unsubscribe/ Opt Out:</h4>
                    &bull;&nbsp;&nbsp; &nbsp;If you wish to unsubscribe/Opt Out from receiving marketing or promotional e-mails, please click <a href="./opt_update.html?opt-from=site_services&amp;opt-action=optout">here</a>.<br/>

                </p>


                <div style="clear: both; height: 280px;"></div>

			</div>
		</div>

	</div>

{% endblock %}



{% block content %}

    

{% endblock %}