body {
    padding-top: 100px;
    /*background-image: url("/images/shallow-focus-photography-of-white-flowers-1369280.jpg"), url("/images/close-up-photo-of-white-flowers-3686922.jpg");*/
    background-image: url("/images/close-up-photo-of-white-flowers-3686922.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: whitesmoke;    
  }

body #mainnav {
  font-size: 1.4rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.zoom:hover {
    transform: scale(1.05);
  }

  /* sign in FORM */

#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}

  /*end sign in FORM */

/*
.pageDiv a{
  text-decoration: underline;
  padding: 0 5px;
  color: rgb(85, 82, 82);
}
.pageDiv span {
    font-size: 2em;
    padding: 0 5px;
}
.pageNav {
    font-size: 1.5em;
}

.pageDiv {
  font-weight: bold;
  text-shadow: 2px 2px yellow;
}
*/
input .invisible {
  display: none;
}
/* cervices   */
span strong{
  color: #a52a2a; 
}
.errorMessage {
  font-weight: bold;
  /* background-color: rgb(208, 225, 247);*/
  color: red;
}

/*checout form */
.mb-5, .my-5 {
  margin-bottom: 0rem!important;
}


.button {
  cursor: pointer;
  font-weight: 500;
  left: 3px;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}

/*page ajax style*/
.pageLink {
  text-decoration: none;
  color: black;
}
.pageLinkCurrent {
  font-size: 20em;
  padding: 0 5px;
  font-weight: bold;
}

.pageDiv a{
  text-decoration: underline;
  padding: 0 5px;
}
.pageDiv span {
  font-size: 2em;
  padding: 0 5px;
}
.pageNav {
  font-size: 0.8em;
}